<header class="header">
    <a href="#">Liu Junling :: 
	{% if page.title == 'cv' %}
    		{{ page.title }}
	{% else %}
		{{ page.title | capitalize }}
	{% endif %}
    </a>

    <nav class="navbar">
	<ul class="navbar-list">
		<li class="navbar-item">
		<a href="/about" title="about">about</a>
		</li>
		<li class="navbar-item">
		<a href="/cv" title="cv">cv</a>
		</li>
		<li class="navbar-item">
		<a href="/blogs" title="blogs">blogs</a>
		</li>
		<li class="navbar-item">
		<a href="/moods" title="moods">moods</a>
		</li>
		<li class="navbar-item">
		<a href="/contact" title="contact">contact</a>
		</li>
	</ul>
    </nav>
</header>
